{{#if isLoaded}}
<div class="post">

  {{ partial 'postHeader' }}

  <div class="content">
    <div class="show-for-small">
      <p>
      {{{ excerpt }}}
      </p>
      {{#linkTo 'post' post class='more'}} More...  {{/linkTo}}
    </div>

    <div class="hide-for-small">
      {{{ formatContent post.content.content }}}
    </div>

    <div class="clearfix"> </div>

    {{ partial 'postMetaMisc' }}

  </div> {{! end content }}

</div>

{{else}}
<div class="text-center">
  <h3>
    <i class="icon-spinner icon-spin"></i> Loading post...
  </h3>
</div>
{{/if}}
