{{#if model.isError}}
  <div class="alert-box alert text-center">
    <i class="icon-warning-sign"></i>&nbsp;&nbsp;Ooops... {{model.errorMessage}}
  </div>
{{else}}
<div class="post">
  <div class="header">
    <h4>Search results for {{model.query}}</h4>
  </div>

  <div class="content">
    {{#if model.isLoaded}}
    <ul>
      {{#each post in controller}}
      <li>
      {{#linkTo 'post' post}}
      {{{ post.title }}} ({{dateFromNow post.date}})
      {{/linkTo}}
      </li>
      {{else}}
      Sorry, nothing here :/
      {{/each}}
    </ul>
    {{else}}
    <h3>
      <i class="icon-spinner icon-spin"></i> Loading
    </h3>
    {{/if}}
  </div>
</div>
{{/if}}
